@media screen and (max-width:768px){
    

.container{
    max-width: 90%;
    margin: 0 auto;
    overflow: hidden;
}


.add__navigation{
    width: 30%;
    padding: 1rem 0;
    position: fixed;
    background-color:dimgray;
    right: 2%;
    top: 10%;
    border-radius: 10px;
    z-index: 1;

}
.add__navbar{
    display: flex;
    flex-direction: column;
   align-items: center;
}
.add__navbar a{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}
.add__navbar a:hover, a:focus{
    color: rgb(226, 255, 3);
}
.add__navigation .close__bars{
    font-size: 4rem;
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 5px;

}

.navigation{
  display: none;
    
}
.navbar{
display: none;
}
.active{
    color: rgb(134, 134, 5);
}
 .header .fa-bars{
    color: orange;
    display: block;
    position: fixed;
    top: 20px;
    right: 40px;
    font-size: 2rem;
    z-index: 999;

}

.banner{
    position: absolute;
    margin-top: 40%;
}
.banner h1{
    color: #fff;
    font-size: 3rem;
    margin-left: 5%;
    font-family: var(--ubuntu);
}
.banner p{
    padding: 1rem 1rem;
    color: #A8A8A8;
    width: 100%;
    font-family: var(--roboto);
    font-size: 1rem;
    border-bottom: 0;
    margin-bottom: 2rem;
    margin: auto;
}
.header .social__media {
    margin-left: 10%;
}
.header .social__media i{
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    color: #fff;

}
.fa-down-long{
    color: black;
    margin-top: 70%;
    margin-left: 45%;
    background-color: #fff;
    padding: 0.8rem 1rem;
    border-radius: 100%;
    display: none;
}
.about__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 1rem;
}
.about__item img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
.about__item .title h2{
    text-align: center;
}
.about__item .title p{
    width: 100%;
}
.Contact__Details{
    display: grid;
    grid-template-columns: 100%;
}
.Contact__Details .title{
    width: 100%;
}
.Contact__Details .title p{
    width: 100%;
}
.Contact__Details button{
   margin-left: 30%;
}
.resume__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
    border-bottom: 0.5px solid rgb(138, 135, 135);
    margin-bottom: 1rem;
}
.work__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
}
.earth__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
}
.earth__item h2{
    color: #fff;
    margin-bottom: 1rem;

}
.earth__item p{
    color:#A8A8A8;
    margin-bottom: 1rem;
    width: 100%;
    font-size: 1.2rem;
}
.quote__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
}
.quote__item p{
    color: #fff;
    width: 100%;
    font-family: var(--lato);
    font-size: 1.2rem;
    line-height: 1.6;
    letter-spacing: 2px;
}
.contact .title{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
}
.contact__content{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
    margin-top: 1rem;
    padding: 1rem 0;
}
.contact__item1{
    display: grid;
    grid-template-columns: 100%;
    gap: 3rem;
}
.contact__item p{
    color: #A8A8A8;
    width: 100%;
    margin-bottom: 1rem;
}
.contact__item1 button{
    width: 40%;
    height: 6vh;
    background-color: black;
    color: #fff;
    border-radius: 10px;
  }
.footer__media {
    margin-left: 15%;
}
.footer__media i{
    margin-left: 5px;
 margin-right: 5px;
 font-size: 1.5rem;
 color: #fff;
}

.show{
    display: block;
}
.hide{
    display: none;
}
.fade{
    opacity: 0.1;
    transition: 0.5s;
}
}


